<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>admin-formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">admin-formulario</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="encabezadoFormulario">
    <ion-text>TITULO</ion-text>
    <ion-text>subtitulo</ion-text>
    <div id="line-bar"></div>
  </div>
  <!--
  <div id="formulario">
    <ion-card *ngFor="let pregunta of nPreguntas">
      <ion-card-header>
        <ion-input [{ngModel}]="nP[index].pregunta"></ion-input>
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-inputs placeholder="a"></ion-inputs>
          <ion-inputs placeholder="b"></ion-inputs>
        </div>
        <div>
          <ion-inputs placeholder="c"></ion-inputs>
          <ion-inputs placeholder="d"></ion-inputs>
        </div>
      </ion-card-content>
      <ion-button (click)="eliminar(pregunta)">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-card>
    <ion-button (click)="agregar()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </div>-->
</ion-content>
