<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Blank</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="redireccion('/loginpage')">login</ion-button>
        <ion-button (click)="redireccion('/signin')">signin</ion-button>
        <ion-button (click)="redireccion('/algoritmos')">Algoritmos</ion-button>
        <ion-button (click)="redireccion('/conwaygame')">conwaygame</ion-button>
        <ion-button (click)="redireccion('/progressbar-users')">progress-users</ion-button>
        <ion-button (click)="redireccion('/calculadora')">calculadora</ion-button>
        <ion-button (click)="redireccion('/covertidor')">convertidor</ion-button> 
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img class="imagen-redonda" src="assets/YO.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title style="font-size: xx-large;">
        Sobre mi
      </ion-card-title>
      <p style="font-size: x-large;">Soy brayan ramon cisneros manriquez estudiante de la universidad tecnologica de salamanca actualmanete estudiando la carrera de Tecnologias de la informacion area desarrollo software(TIS) cursando 5to cuatrimestre </p>
    </ion-card-content>
  </ion-card>
</ion-content>



<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="openMenu()">
        <ion-img></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-menu slot="left">
  <ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-page">
    <ion-list>
      <ion-item>
        boton
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
</ion-content>

-->